#header {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/romance1.jpg);
  background-position: center;
  height: 480px;
  width: 100%;
}
.sous-header img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  object-fit: cover;
}
h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 30px;
}
#background {
  background: rgba(0, 31, 139, 0.5);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navHeader {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: darkgrey;
}
.navHeader li {
  list-style-type: none;
}
.sous-header {
  display: flex;
  gap: 30px;
}

.headerContain {
  padding-left: 15px;
  padding-top: 30px;
}
.headerContain1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.new {
  background: orange;
  padding: 5px;
  width: 25px;
  font-size: 12px;
  border-radius: 5px;
}
.time :nth-child(1) {
  color: darkgray;
}
.time :nth-child(2) {
  color: white;
}
.starSaison {
  display: flex;
  gap: 20px;
  align-items: center;
}
.parentStar {
  display: flex;
  gap: 10px;
}
.parentStar img {
  width: 15px;
  height: 15px;
}
.parentStar span {
  color: white;
}
.saisonEpisode {
  display: flex;
  gap: 3px;
  align-items: center;
}
.dark {
  color: darkgray;
}
.orange {
  color: orange;
}
.tirets {
  color: #fff;
  font-size: 30px;
  transform: translate3d(0, -3px, 0);
}
.xena {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.h2 {
  color: #fff;
  font-size: 38px;
  font-weight: 600;
}
.span {
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: darkgray;
}
.span :nth-child(1) {
  font-size: 15px;
}
.span :nth-child(2) {
  font-size: 10px;
}
.span :nth-child(3) {
  font-size: 10 px;
}
.SommeDetailsPanier {
  display: flex;
  gap: 20px;
}
.details {
  display: flex;
  color: white;
  gap: 10px;
  align-items: center;
  background: blue;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 20px;
  width: 100px;
}
.details img {
  width: 20px;
  height: 20px;
}
.details :nth-child(2) {
  font-weight: 600;
}
.ajoutPanier {
  display: flex;
  color: white;
  gap: 10px;
  align-items: center;
  background: black;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 20px;
  width: 170px;
}
.ajoutPanier img {
  width: 20px;
  height: 20px;
}
.ajoutPanier :nth-child(2) {
  font-weight: 600;
}
.line {
  text-align: center;
  display: flex;
  gap: 20px;
  margin: auto;
}
