#header {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/romance1.jpg);
  background-position: center;
  height: 400px;
  width: 100%;
}
.sous-header img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  object-fit: cover;
}
h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 30px;
}
#background {
  background: rgba(0, 31, 139, 0.5);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navHeader {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: darkgrey;
}
.navHeader li {
  list-style-type: none;
}
.sous-header {
  display: flex;
  gap: 30px;
}
